*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
nav{
    height: 15vh;
    width: 100%;
     background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}
.pngLogo{
    height: 100px;
    width: 200px;
}
.texto{
    gap: 40px;
    display: flex;
    color: white;
    height: 20vh;
    align-items: baseline;
}
.texto div{
    height: 20vh;
}
.texto div h1{
    padding-top: 50%;
}
.imgLogo{
     padding-top: 15px;
     padding-left: 5px;
}




main{
  
    height: 100vh;
    width: 100%;
    background-image: url(fundoPit\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
main div h1 span{
    color: #d39323;
}
.text{
    width: 100%;
    height: 50vh;
    color: white;
    
    padding-top: 120px;
    padding-left: 50px;
}
.facil{
    color: #00bf63;
}
.estar{
    font-size: 45px;
}
.com{
    color: #00bf63;
    font-size: 30px;
}
.bntComece button{
    border-radius: 20px;
    background-color: #00bf63;
    margin-top: 30px;
    padding: 10px;
    color: white;
    height: 50px;
    width: 250px;
}
.bntComece{
    padding-left: 50px;
}

